<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button >
      <mat-icon *ngIf="authuser" (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Library Dashboard</h1>
    <span class="menu-spacer"></span>
    <div>
    <a mat-button *ngIf="notuser" (click)="openDialog()" >LOGIN</a>
    <div *ngIf="user || authuser">
      <a mat-button (click)="onloggedout()" routerLink="/" routerLinkActive="active">LOGOUT</a>
    </div>
    </div>
</mat-toolbar-row>
</mat-toolbar>
<div *ngIf="notuser">
  <app-general-dashboard></app-general-dashboard>
</div>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h2>Librarian </h2>
          <h4>Grdmemoriallibrary@gmail.com</h4>
        </div>
        <img src="https://image.freepik.com/free-vector/stack-books-pile-books-vector-illustration-icon-stack-books-flat-style_87946-647.jpg" alt="book">
      </div>
      <mat-divider></mat-divider>
    
      <h2 matSubheader>Pages</h2>
      <a mat-list-item (click)="sidenav.toggle()"  routerLink="/user" routerLinkActive="active"> Home </a>
      <a mat-list-item (click)="sidenav.toggle()"  routerLink="/gatecount" routerLinkActive="active"> Gatecount</a>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="/bookusage" routerLinkActive="active"> BOOKS </a>
      <a mat-list-item (click)="sidenav.toggle()"  routerLink="/counter" routerLinkActive="active"> Counters </a>
      <a mat-list-item (click)="sidenav.toggle()"  routerLink="/create" routerLinkActive="active"> Custom </a>
      <mat-divider></mat-divider>
  </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

